<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.meetingroommanagement.mapper.MtRoomMapper">

    <update id="updateRoom" parameterType="com.zeroone.star.project.dto.j7.meetingroommangement.MtRoomDTO">
        update mt_room
        <set>
            <if test="xname != null and xname!='' ">
                xname=#{xname},
            </if>
            <if test="xupdateTime != null  ">
                xupdateTime=#{xupdateTime},
            </if>
            <if test="xavailable != null  ">
                xavailable=#{xavailable},
            </if>
            <if test="xbuilding != null  ">
                xbuilding=#{xbuilding},
            </if>
            <if test="xcapacity != null  ">
                xcapacity=#{xcapacity},
            </if>
            <if test="xdevice != null  ">
                xdevice=#{xdevice},
            </if>
            <if test="xfloor != null  ">
                xfloor=#{xfloor},
            </if>
            <if test="xname != null  ">
                xname=#{xname},
            </if>
            <if test="xphoneNumber != null  ">
                xphoneNumber=#{xphoneNumber},
            </if>
            <if test="xpinyin != null  ">
                xpinyin=#{xpinyin},
            </if>
            <if test="xpinyinInitial != null  ">
                xpinyinInitial=#{xpinyinInitial},
            </if>
            <if test="xroomNumber != null  ">
                xroomNumber=#{xroomNumber}
            </if>
        </set>
        where xid = #{xid}
    </update>

    <delete id="deleteRoom" parameterType="java.lang.String">
    delete from mt_room where xid = #{xid}
    </delete>
    <select id="selectRoomPage" resultType="com.zeroone.star.meetingroommanagement.entity.MtRoom">
        select *
        from mt_room
        <where>
            <if test="xbuilding != null">
                xbuilding = #{xbuilding}
            </if>
        </where>
        order by xupdateTime desc
    </select>

</mapper>
