<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.procmanager.mapper.FormMapper">

    <select id="selectNameById" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT
            xname
        FROM
            pp_e_form
        WHERE
            xapplication = #{xid}
    </select>

    <select id="queryFormInfo" resultType="com.zeroone.star.project.vo.j4.form.data.FormInfoVO">
        SELECT xid,xname,xdescription,xcategory,xicon,xproperties FROM `pp_e_form` where xid = #{xid}
    </select>
</mapper>
