<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.oaj2syssecurity.mapper.SystemSecAdminPasswordMapper">
    <update id="saveById">
        update org_person set xpassword=#{xpassword} where xid = #{xid};
    </update>

    <select id="getByXId" resultType="com.zeroone.star.project.vo.j2.system.security.password.AdminPasswordVO">
        select
            xid id,
            xpassword password
        from org_person
        where xid=#{id};
    </select>
</mapper>
