<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.login.mapper.OrgRoleMapper">


    <select id="getRolesByUserId" resultType="java.lang.String">
        select orl.xname
        from org_role orl
        where orl.xid in (select orp.ROLE_XID from org_role_personlist orp where orp.xpersonList = #{id})
    </select>
</mapper>
