<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.user.mapper.OrgPersonattributeAttributelistMapper">
    <delete id="deleteByXIds" parameterType="java.util.List">
        DELETE FROM org_personattribute_attributelist WHERE PERSONATTRIBUTE_XID IN
        <foreach item="item" index="index" collection="xidList" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>