<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.user.mapper.OrgPersonMapper">

    <select id="getPersonList" resultType="com.zeroone.star.user.entity.OrgPerson">
        SELECT *
        FROM org_person
        WHERE 1=1
        <if test="query.userName != null">
            AND user_name LIKE CONCAT('%', #{query.userName}, '%')
        </if>
        <if test="query.otherCondition != null">
            AND other_column = #{query.otherCondition}
        </if>
        ORDER BY create_time DESC
    </select>

</mapper>
