<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.oauth2.mapper.OrgMenuLLLMapper">

    <select id="listRoleIdByMenuList" resultType="java.lang.String">
        SELECT role_id
        FROM zo_oa.org_role_menulist
        WHERE menuList IN (select m.menu_id
                           from zo_oa.org_menu m
                           where m.link_url = #{linkUrl})

    </select>
</mapper>
