<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.oauth2.mapper.OrgPersonLLLMapper">


    <select id="getPersonByName" resultType="com.zeroone.star.oauth2.entity.OrgPerson">
        SELECT xid,
               xcreateTime,
               xsequence,
               xupdateTime,
               xdistributeFactor,
               xage,
               xandFxHash,
               xandFxId,
               xbirthday,
               xboardDate,
               xchangePasswordTime,
               xdescription,
               xdingdingHash,
               xdingdingId,
               xdistinguishedName,
               xemployee,
               xfailureCount,
               xfailureTime,
               xgenderType,
               xhiddenMobile,
               xicon,
               xiconLdpi,
               xiconMdpi,
               xipAddress,
               xlanguage,
               xlastLoginAddress,
               xlastLoginClient,
               xlastLoginTime,
               xlockTime,
               xmail,
               xmobile,
               xmpwxopenId,
               xname,
               xnickName,
               xofficePhone,
               xopen1Id,
               xopen2Id,
               xopen3Id,
               xopen4Id,
               xopen5Id,
               xorderNumber,
               xpassword,
               xpasswordExpiredTime,
               xpinyin,
               xpinyinInitial,
               xqiyeweixinHash,
               xqiyeweixinId,
               xqq,
               xsignature,
               xstatus,
               xstatusDes,
               xsubjectSecurityClearance,
               xsuperior,
               xunique,
               xweLinkHash,
               xweLinkId,
               xweixin,
               xzhengwuDingdingHash,
               xzhengwuDingdingId
        FROM zo_oa.org_person
        WHERE xname = #{xname}
    </select>
</mapper>
